@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.head
{
    
    color: #FFF;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 35px; 
letter-spacing: 5px;
margin-bottom: 2%;
}
.head2
{
    background: linear-gradient(10deg, blue 0%, red 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: Inter;
font-size: 75px;
font-style: normal;
font-weight: 800;
line-height: 75px; 
background: linear-gradient(10deg, blue 0%, red 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Inter;
font-size: 75px;
font-style: normal;
font-weight: 600;
line-height: 75px;
}
@media screen and (max-width: 768px)
{
    
    .head
    {
        line-height: 20px;
        font-size: 15px;
    }
    .head2
    {
        font-size: 30px;
        line-height: 50px; 
    }
    
}
